{% extends "base.html" %}

{% block content %}
<h3>{{goal.name}}</h3>

<table class="table table-hover table-bordered">
    <tr>
        <td>Date Created</td>
        <td>{{goal.created_at}} </td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{goal.description}} </td>
    </tr>
    <tr>
        <td>Urgency</td>
        <td>{{goal.get_urgency_display}} </td>
    </tr>
    <tr>
        <td>Importance</td>
        <td>{{goal.get_importance_display}} </td>
    </tr>
    <tr>
        <td>Timeframe</td>
        <td>{{goal.get_timeframe_display}} </td>
    </tr>
    <tr>
        <td>Planned Completion Date</td>
        <td>{{goal.planned_completion_date}} </td>
    </tr>
    <tr>
        <td>Start Date</td>
        <td>{{goal.started_at}} </td>
    </tr>
    <tr>
        <td>Completion Date</td>
        <td>{{goal.completed_at}} </td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{goal.get_status_display}} </td>
    </tr>
    <tr>
        <td>Category</td>
        <td>{{goal.get_category_display}} </td>
    </tr>
</table>

{% endblock %}